HOST=localhost
PORT=5432
DBNAME= #имя_вашей_БД
USER= #имя_пользователя
PASSWORD= #пароль
PROJECT_ROOT=C:\path\to\your\project # путь до папки с проектом
DATA_FOLDER=C:\path\to\your\project\data #путь до папки со сгенерированными csv-файлами